#mid {
  height: 100%;
  width: 100%;
}

#logo_box {
  background-color: #B4A0E5;
  margin-bottom: 3px;
  height: auto;
  width: auto;
}

#logo {
  background-color: #B4A0E5;
  height: auto;
  width: 37vh;
  font-size: 4.86vh;
  font-style: italic;
  text-align: center;
  text-shadow: #37392E 3px 0px 6px;
  border-top: 2px solid #9E8FB2;
  border-bottom: 4px solid #9E8FB2;
  border-right: 3px solid #9E8FB2;
  border-left: 1.5px solid #9E8FB2;
}

#menu {
  width: 37vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.input {
  width: 34.6vh;
  height: 2.86vh;
  padding: 10px;
  margin-bottom: 3px;
  border: 2px solid #9E8FB2;
  font-size: 1.86vh;
  color: #37392E;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.input:focus {
  border-color: #8EAF9D;
  box-shadow: 0 0 0 0.2rem rgba(142, 175, 157, 0.25);
}